<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br> ID: <%=student._id %>
          <br> Email: <%=student.email %>
          <br> Given Name : <%=student.given %>
          <br> family Name: <%=student.family %>
          <br> Github: <%=student.Github %>
          <br> Website: <%=student.Website %>
          <br> GPA: <%=student.GPA %>
          <br> SectionID: <%=student.SectionID %>
          <hr>

      <form method="get" action="/student">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>