<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">

   
    <div class="form-group">
      <label for="schoolnumber">schoolNumber</label>
      <input type="text" class="form-control" id="schoolnumber" name="schoolnumber" value="<%= course.schoolnumber %>" required>
    </div>

    <div class="form-group">
      <label for="coursenumber">courseNumber</label>
      <input type="text" class="form-control" id="coursenumber" name="coursenumber" value="<%= course.coursenumber %>">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= course.name %>">
    </div>

    <div class="form-group">
      <label for="inspring">inSpring </label>
      <input type="boolean" class="form-control" id="inspring" name="inspring" value="<%= course.inspring %>">
    </div>

    <div class="form-group">
      <label for="insummer">inSummer </label>
      <input type="boolean" class="form-control" id="insummer" name="insummer" value="<%= course.insummer %>">
    </div>

    <div class="form-group">
      <label for="infall">inFall </label>
      <input type="boolean" class="form-control" id="infall" name="infall" value="<%= course.infall %>">
    </div>

   
  </div>
</div>

<!-- PUT CLIENT SIDE CODE HERE -->
<script>
 
  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>